.header{
  background-image: url("https://www.openoffice.org/marketing/art/galleries/marketing/design_elements/20-Splashscreen-Element-bg_graphic_no_background-thumb.jpg");
  height: 50em;
  background-size: cover;
  background-position: center;
}
